services:
  broker1:
    build: ./broker
    container_name: broker1
    networks:
      - aklight-net
    volumes:
      - ./broker/storage:/data

  broker2:
    build: ./broker
    container_name: broker2
    networks:
      - aklight-net
    volumes:
      - ./broker/storage:/data

  producer1:
    build: ./producer
    container_name: producer1
    depends_on:
      - broker1
    environment:
      - BROKER_HOST=broker1
    networks:
      - aklight-net

  producer2:
    build: ./producer
    container_name: producer2
    depends_on:
      - broker1
    environment:
      - BROKER_HOST=broker1
    networks:
      - aklight-net

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - broker1
    environment:
      - BROKER_HOST=broker1
      - TOPIC=metrics/docker/#
    networks:
      - aklight-net

networks:
  aklight-net:
    driver: bridge
