services:
  broker:
    build: ./broker
    ports:
      - "5000:5000"

  producer1:
    build: ./producer
    depends_on:
      - broker

  producer2:
    build: ./producer
    depends_on:
      - broker

  consumer:
    build: ./consumer
    depends_on:
      - broker
